# Terraform working directory and state
**/.terraform/
**/.terraform*
**/terraform.tfstate
**/terraform.tfstate*
**/terraform.tfstate.*
**/.terraform.tfstate.lock.info

# Terraform plans and crash logs
*.tfplan
*.tfplan.json
crash.log
crash.*.log

# Terraform dependency lock file
**/.terraform.lock.hcl

# Local variable values
**/infrastructure/terraform.tfvars
**/infrastructure/.terraform.lock.hcl
*.auto.tfvars
*.auto.tfvars.json