#!/usr/bin/env bash
sudo yum update -y
sudo amazon-linux-extras install nginx1 -y
sudo systemctl enable --now nginx

sudo tee /usr/share/nginx/html/index.html > /dev/null <<HTML
<!DOCTYPE html>
<html>
<head>
  <title>${project_name} - Week 2 (${environment})</title>
</head>
<body>
  <h1>${project_name} - Week 2</h1>
  <h2>${full_name}</h2>
  <p>Environment: ${environment}</p>
</body>
</html>
HTML
